<% @query = local_assigns.fetch(:query, '') %>

<div class="panel panel-default search-result" id=<%= "fact-#{fact.id}"%> data-id=<%= "#{fact.id}" %> >
	<div class="panel-body">
		<% if not @query.blank? %>
			<p><%= raw fact.content.sub(@query, "<mark>#{@query}</mark>") %></p>
		<% else %>
			<p><%= fact.content %></p>
		<% end %>
		<div class="btn-group search-result-control pull-right">
			<%= link_to 'Edit', edit_fact_path(fact), method: :get, remote: true, class: 'btn btn-default' %> 
			<%= link_to 'Delete', fact, method: :delete, remote: true, class: 'btn btn-default' %> 
		</div>
	</div>
</div>



